@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import "variables";
@import "typography";

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
  background-color: var(--root-background-color);

  * {
    transition: background 300ms;
  }

  @media screen and (max-width: var(--bp-tablet-md)) {
    padding-top: 0;
  }
}

a {
  color: var(--link-color);
}

img,
.image {
  max-width: 100%;
  box-sizing: border-box;
}

.container {
  max-width: 1084px !important;
  margin: 0 auto;
  padding: 0 24px;

  &.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-direction: forwards;
}

@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
