@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import 'variables';
@import 'typography';

body,
div,
nav,
footer,
svg,
.button.primary {
  transition-property: background-color, border-color, box-shadow, fill, stroke, opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--text-color));
  overflow-x: hidden;
  background-color: rgb(var(--root-background-color));

  @media screen and (max-width: #{bp-tablet-md}) {
    padding-top: 0;
  }
}

h1 {
  text-align: center;
}

a {
  color: rgb(var(--link-color));
}

img,
.image {
  max-width: 100%;
  box-sizing: border-box;
}

.container {
  max-width: 1084px !important;
  margin: 0 auto;
  padding: 0 24px;

  &.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-direction: forwards;
}

@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}

.button {
  padding: 0.5rem;

  &.hover:hover {
    cursor: pointer;
    transition: none;
    background-color: rgb(var(--indi-blue-1));
  }

  &.rounded {
    border-radius: 0.5rem;
  }

  &.primary {
    border: 2px solid transparent;
    background-color: rgb(var(--indi-blue-1));
    color: white !important;
    &:hover {
      transition: none;
      border: 2px solid rgb(var(--indi-blue-2));
    }
  }

  &.secondary {
    border: 2px solid rgb(var(--indi-blue-1));
    &:hover {
      background-color: rgb(var(--indi-blue-1));
      color: white !important;
    }
  }
}
