h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  line-height: 140%;
  font-weight: 500;
  font-style: normal;
}

h1,
h2 {
  font-family: 'Indicium-font', serif;
}

h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;

  @media screen and (max-width: #{bp-tablet-md}) {
    font-size: 2.75rem;
  }

  @media screen and (max-width: #{bp-mobile-lg}) {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: 'Indicium-font', serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 140%;
  color: var(--text-color);
  margin-block-end: 0.2em;

  @media screen and (max-width: #{bp-tablet-md}) {
    font-size: 2.25rem;
  }

  @media screen and (max-width: #{bp-mobile-lg}) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;

  @media screen and (max-width: #{bp-tablet-md}) {
    font-size: 1.75rem;
  }

  @media screen and (max-width: #{bp-mobile-lg}) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.25rem;

  &.small {
    font-size: 0.875rem;
    line-height: 100%;
  }

  &.large {
    font-size: 1.5rem;
  }

  &.logo-text {
    line-height: 100%;
  }
}

span {
  &.extra-bold {
    font-weight: 900;
  }
  &.bold {
    font-weight: 700;
  }

  &.medium {
    font-weight: 500;
  }

  &.light {
    font-weight: 300;
  }
}

.center {
  text-align: center;
}
