:root {
  --text-color: #333;
  --link-color: #005fff;
  --root-background-color: #fff;
  --secondary-background-color: #f2f2f2;

  --indi-blue-1: #72c9e1;
  --indi-blue-2: #aadeed;
  --indi-blue-3: #e2f4f9;

  --indi-blue-green-1: #73c3b6;
  --indi-blue-green-2: #abdbd3;
  --indi-blue-green-3: #e3f3f0;

  --indi-green-1: #a3cf9b;
  --indi-green-2: #c7e2c3;
  --indi-green-3: #eff5eb;

  --indi-grey: #eff0f0;
  --indi-success: var(--indi-green-2);
  --indi-warning: #fac052;
  --indi-error: #cf9797;

  --panel-background: #f3f8fa;
  --inner-sidebar-background: #f8f9f9;
  --signup-background: #e1eef2;

  --sidebar-width: 286px;

  --header-font: "Roboto", sans-serif;
  --text-font: "Calibri", sans-serif;
  --indicium-font: "Indicium-font", serif;

  // Breakpoints
  --bp-mobile-sm: 321px;
  --bp-mobile-md: 376px;
  --bp-mobile-lg: 414px;
  --bp-tablet-sm: 562px;
  --bp-tablet-md: 768px;
  --bp-desktop-sm: 1120px;
  --bp-desktop-md: 1280px;
  --bp-desktop-lg: 1536px;
}

[data-theme="dark"] {
  --text-color: #f2f2f2;
  --link-color: #64c8ff;
  --root-background-color: #0b1416;
  --secondary-background-color: #2f3437;

  --indi-blue-1: #447887;
  --indi-blue-2: #2f545e;
  --indi-blue-3: #1b3036;

  --indi-blue-green-1: #45756d;
  --indi-blue-green-2: #30514c;
  --indi-blue-green-3: #1b2e2b;

  --indi-green-1: #617c5d;
  --indi-green-2: #435641;
  --indi-green-3: #263125;

  --indi-grey: #eff0f0;
  --indi-success: var(--indi-green-2);
  --indi-warning: #fac052;
  --indi-error: #cf9797;

  --panel-background: #000;
  --inner-sidebar-background: #f8f9f9;
  --signup-background: #829cb0;
}
