// Breakpoints
$bp-mobile-sm: 321px;
$bp-mobile-md: 376px;
$bp-mobile-lg: 414px;
$bp-tablet-sm: 562px;
$bp-tablet-md: 768px;
$bp-tablet-lg: 944px;
$bp-desktop-sm: 1120px;
$bp-desktop-md: 1280px;
$bp-desktop-lg: 1536px;

:root {
  color-scheme: light;
  --nav-height: 90px;

  --text-color-raw: 51, 51, 51;
  --link-color-raw: 0, 95, 255;
  --root-background-color-raw: 255, 255, 255;
  --secondary-background-color-raw: 242, 242, 242;
  --text-color: rgb(51, 51, 51);
  --link-color: rgb(0, 95, 255);
  --root-background-color: rgb(255, 255, 255);
  --secondary-background-color: rgb(242, 242, 242);

  --hero-bg-color-raw: var(--secondary-background-color-raw);
  --pcb-trace-color-raw: 211, 211, 211;
  --hero-bg-color: rgb(var(--hero-bg-color-raw));
  --pcb-trace-color: rgb(211, 211, 211);

  --indi-blue-1-raw: 114, 201, 225;
  --indi-blue-2-raw: 170, 222, 237;
  --indi-blue-3-raw: 226, 244, 249;
  --indi-blue-1: rgb(114, 201, 225);
  --indi-blue-2: rgb(170, 222, 237);
  --indi-blue-3: rgb(226, 244, 249);

  --indi-blue-green-1-raw: 115, 195, 182;
  --indi-blue-green-2-raw: 171, 219, 211;
  --indi-blue-green-3-raw: 227, 243, 240;
  --indi-blue-green-1: rgb(115, 195, 182);
  --indi-blue-green-2: rgb(171, 219, 211);
  --indi-blue-green-3: rgb(227, 243, 240);

  --indi-green-1-raw: 163, 207, 155;
  --indi-green-2-raw: 199, 226, 195;
  --indi-green-3-raw: 239, 245, 235;
  --indi-green-1: rgb(163, 207, 155);
  --indi-green-2: rgb(199, 226, 195);
  --indi-green-3: rgb(239, 245, 235);

  --indi-grey-raw: 239, 240, 240;
  --indi-success-raw: var(--indi-green-2-raw);
  --indi-warning-raw: 250, 192, 82;
  --indi-error-raw: 207, 151, 151;
  --indi-grey: rgb(239, 240, 240);
  --indi-success: rgb(var(--indi-green-2-raw));
  --indi-warning: rgb(250, 192, 82);
  --indi-error: rgb(207, 151, 151);

  --panel-background-raw: 243, 248, 250;
  --inner-sidebar-background-raw: 247, 250, 250;
  --panel-background: rgb(243, 248, 250);
  --inner-sidebar-background: rgb(247, 250, 250);

  --sidebar-width: 286px;

  --header-font: 'Roboto', sans-serif;
  --text-font: 'Calibri', sans-serif;
  --indicium-font: 'Indicium-font', serif;

  // used for lazy darkmode, namely for the Conscribo iframe which cant be styled by us
  --filter: invert(0);
}

[data-theme='dark'] {
  color-scheme: dark;
  --text-color-raw: 242, 242, 242;
  --link-color-raw: 100, 200, 255;
  --root-background-color-raw: 11, 20, 22;
  --secondary-background-color-raw: 47, 52, 55;
  --text-color: rgb(242, 242, 242);
  --link-color: rgb(100, 200, 255);
  --root-background-color: rgb(11, 20, 22);
  --secondary-background-color: rgb(47, 52, 55);

  --hero-bg-color-raw: 0, 0, 0;
  --pcb-trace-color-raw: 51, 51, 51;
  --hero-bg-color: rgb(0, 0, 0);
  --pcb-trace-color: rgb(51, 51, 51);

  --indi-blue-1-raw: 68, 120, 135;
  --indi-blue-2-raw: 47, 84, 94;
  --indi-blue-3-raw: 27, 48, 54;
  --indi-blue-1: rgb(68, 120, 135);
  --indi-blue-2: rgb(47, 84, 94);
  --indi-blue-3: rgb(27, 48, 54);

  --indi-blue-green-1-raw: 69, 117, 109;
  --indi-blue-green-2-raw: 48, 81, 76;
  --indi-blue-green-3-raw: 27, 46, 43;
  --indi-blue-green-1: rgb(69, 117, 109);
  --indi-blue-green-2: rgb(48, 81, 76);
  --indi-blue-green-3: rgb(27, 46, 43);

  --indi-green-1-raw: 97, 124, 93;
  --indi-green-2-raw: 67, 86, 65;
  --indi-green-3-raw: 38, 49, 37;
  --indi-green-1: rgb(97, 124, 93);
  --indi-green-2: rgb(67, 86, 65);
  --indi-green-3: rgb(38, 49, 37);

  --indi-grey-raw: 239, 240, 240;
  --indi-success-raw: var(--indi-green-2);
  --indi-warning-raw: 250, 192, 82;
  --indi-error-raw: 207, 151, 151;
  --indi-grey: rgb(239, 240, 240);
  --indi-success: rgb(var(--indi-green-2-raw));
  --indi-warning: rgb(139, 64, 0);
  --indi-error: rgb(139, 0, 0);

  --panel-background-raw: 0, 0, 0;
  --inner-sidebar-background-raw: 248, 249, 249;
  --panel-background: rgb(0, 0, 0);
  --inner-sidebar-background: rgb(248, 249, 249);

  // used for lazy darkmode, namely for the Conscribo iframe which cant be styled by us
  --filter: invert(1);
}
