# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json # Keep vscode extensions settings related to this project
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/

# Sentry config file (for build plugin)
.env.sentry-build-plugin

# Nuxt dev/build outputs
.output/
.data/
.nuxt/
.nitro/
.cache/
dist/

# Miscellaneous
.DS_Store

# Local environment files
.env
.env.*
!.env.example  # Keep env.example for reference
